form{
  max-width: 62.5em;
  margin-inline:auto;
}
.numgroup{
  display: flex;
  gap:.5rem;
}
.numgroup > *{
  flex-grow: 1;
}


.add-ingredient,
.add-step {
  display: flex;
  gap:.5rem;
}

.add-quantity {
  max-width: min-content;
}

.add-item,
.add-notes {
  flex-grow: 1;
}
