h1 {
  margin-bottom:.5rem;
}
main {
  display: grid;
  grid-template-areas: "in sum"
  "in steps";
  gap:0 2rem;
  grid-template-rows: auto 1fr;
}
.recipe_summary {
  grid-area: sum;
}
.recipe_ingredients {
  grid-area: in;
}
app-steps {
  grid-area: steps;
}
@media (width < 48em) {
  main {
    display: block
  };
}
