<label [htmlFor]="idfor()" class="flex font-bold w-full">
  <span class="w-[1ch]">@if(required()){*}</span>
  <span><ng-content /></span>
</label>
<input
  [id]="idfor()"
  [type]="type()"
  class="block border-2 w-full rounded-lg h-[2.75rem] px-2 inset-shadow-slate-500 dark:inset-shadow-slate-900"
  [class.inset-shadow-sm]="displayState() !== 'readonly' && displayState() !== 'disabled'"
  [class]="displayClasses()"
  [value]="value()"
  (input)="update($event)"
  [disabled]="disabled()"
  [readOnly]="readonly()"
  (blur)="touched.set(true)"
  [placeholder]="placeholder()"
  />
@if (displayState() !== 'error') {
  <app-notes [minLength]="minLength()"
    [maxLength]="maxLength()"
    [min]="min()"
    [max]="max()">
    <ng-content select="[notes]" />
  </app-notes>
}

@if (displayState() === 'error') {
  <app-error
    role="alert"
    [errors]="errors()"
    [minLength]="minLength()"
    [maxLength]="maxLength()"
    [min]="min()"
    [max]="max()"
    />
}
