#ing {
  display: grid;
  width:max-content;
  grid-template-columns: repeat(3, auto);
  gap:.5em 0
}
.ingredient_notes {
  font-size: .875em;
}
.ingredient_quantity{
  text-align: right;
}
.ingredient_name{
  margin-left:.5em;
}
