<main>
<button (click)="toggleFilter()">filter</button>
<ul id="recipes">
  @if (!recipeService.filteredRecipies().length) {
  <li app-recipe-card-skeleton></li>
  <li app-recipe-card-skeleton></li>
  <li app-recipe-card-skeleton></li>
  <li app-recipe-card-skeleton></li>
  <li app-recipe-card-skeleton></li>
  <li app-recipe-card-skeleton></li>
  <li app-recipe-card-skeleton></li>
  <li app-recipe-card-skeleton></li>
  }

@for (R of recipeService.filteredRecipies();track R.id) {
  <li app-recipe-card [recipe]="R">
  </li>
}
</ul>
<aside [class.open]="isFilterOpen()">
  <button (click)="toggleFilter()">close</button>
  <app-recipe-filter/>
</aside>
</main>
