#recipes {
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: auto 1fr auto;
  list-style-type: none;
  margin: 0;
  padding:0;
  gap:1rem;
}
aside {
  position: fixed;
  inset: 0;
  overflow: scroll;
  width: 20ch;
  background-color: white;
  transform: translateX(-100%);
  transition: transform .25s;
  padding:1rem;
}
aside.open{
  transform: translateX(0%);
}
